<%= link_to "cars", "/cars" %>
<%= link_to "dealerships", "/dealerships" %>

<h1><%= @dealership.name  %> ID:<%= @dealership.id %> </h1>
<p>City: <%= @dealership.city %> </p>
<p>Charging stations: <%= @dealership.charging_stations %> </p>
<p>Leasing: <%= @dealership.leasing %> </p>

<p>Cars at <%= @dealership.name %> dealership: <%= @dealership.car_count %></p>

<% @dealership.cars.each do |car| %>
<p><%= car.make %> <%= link_to car.model, "/dealerships/#{@dealership.id}/cars" %> </p>
<% end %>

<p> <%= button_to "Update Dealership", "/dealerships/#{@dealership.id}/edit", method: :get%> <p>
