<%= link_to "cars", "/cars" %>
<%= link_to "dealerships", "/dealerships" %>

<p>Make: <%= @car.make %> ID: <%= @car.id %> </p>
<p>Model: <%= @car.model %> </p>
<p>Year: <%= @car.year %> </p>
<p>Auto_pilot: <%= @car.auto_pilot %> </p>

<%= button_to "Update Car", "/cars/#{@car.id}/edit", method: :get %>
